[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
pillow = "*"
opencv-python = "*"
scikit-image = "*"
imutils = "*"
pdf2image = "*"
numpy = "==1.19.3"

[dev-packages]
